body {
    font-family: Arial;
    font-size: 14px;
}

.content {
    margin-left: 30px;
}

ul {
    list-style-type: disc;
}

li {
    margin-top: 7px;
    margin-bottom: 7px;
}

img {
    margin-top: 20px;
    margin-left: 40px;
}

a:link {
    color: blue;
}

a:visited {
    color: darkblue;
}

.ui-layout-resizer {
    background-color: #dfeffc !important;
}

.ui-layout-north.ui-widget {
    background-color: #5c9ccc !important;
    color: #ffffff;
    font-weight: bold;
}

#accordion li a:hover {
    cursor: pointer;
}

#content {
    margin-left: 20px;
}